# Configurações do Supabase (VPS - Easypanel)
VITE_SUPABASE_URL=https://finance-app-supabase-finance-app.rcnehy.easypanel.host
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyAgCiAgICAicm9sZSI6ICJhbm9uIiwKICAgICJpc3MiOiAic3VwYWJhc2UtZGVtbyIsCiAgICAiaWF0IjogMTY0MTc2OTIwMCwKICAgICJleHAiOiAxNzk5NTM1NjAwCn0.dc_X5iR_VP_qT0zsiyj_I_OZ2T9FtRU2BBNWN8Bu4GE

# Ambiente
NODE_ENV=production

# URL base da aplicação
VITE_APP_URL=https://finance-app-finance-app.rcnehy.easypanel.host